body {
  background-color: #7AC5A7;
  text-align: center;
  }
#Mailbox {
  font-size: 45px;
  margin: 20px;
}
.header {
  font-size: 15px;
  margin: 50px;
  }
#HB {
  font-size: 45px;
}
.letter {
  background-color: #FFF8E8;
  text-align: justify;
  padding: 25px;
  margin: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.image {
  text-align: center;
}
#Giftbox {
  margin: 20px;
}