body {
  background-color: #7AC5A7;
  text-align: center;
  }
#Mailbox {
  font-size: 45px;
}
.header {
  font-size: 15px;
  margin: 20px;
  }
#HB {
  font-size: 45px;
}
.letter {
  background-color: #FFF8E8;
  text-align: justify;
  padding: 25px
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.entry-content img,
.entry-content iframe,
.entry-content object,
.entry-content embed {
max-width: 100%;
}